body{
  background-color: lightgrey;
  background-color: hsl(204, 43%, 93%);
  box-sizing: border-box;
  color: white;
  font-family: 'Karla', sans-serif;
}

p{
  font-size: 14px;
  line-height: 2em;
  margin: 5px auto;
}

h5{
  font-size: 1em;
  margin: 5px auto 25px;
}

h6{
  font-size: 0.9em;
  margin: 5px auto 25px;
}

.grid-container{
  margin: 16% 6%;
}

.info-div{
  background-color: white;
  border-radius: 8px 8px 0  0;
  color: cyan;
  color: hsl(179, 62%, 43%);
  padding: 6%;
}

.info-h6 {
  color: hsl(71, 73%, 54%);
  font-size: 15px;
  font-weight: 700;
  margin: 25px auto;
}

.info-p{
  color: hsl(218, 22%, 67%);
}

.subscription-div{
  background-color: hsl(179, 62%, 43%);
  padding: 6%;
}

.signup{
  background-color: hsl(71, 73%, 54%);
  border-style: none;
  border-radius: 8px;
  box-shadow: 0 10px 8px hsl(179, 62%, 39%);
  color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  margin: 20px auto 10px;
  padding: 5%;
  width: 100%;
}

.signup:hover{
  opacity: 0.7;
}

.cost{
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  padding-right: 5px;
}

.cost-month{
  color: hsl(179, 62%, 80%);
  font-size: 16px;
  padding-bottom: 10px;
}

.cost-p-day{
  font-size: 16px;
}

.benefits-div{
  background-color: MediumTurquoise;
  background-color: hsl(179, 62%, 47%);
  border-radius: 0 0 8px 8px;
  padding: 6%;
}

.benefits-p{
  color: hsl(204, 43%, 90%);
  line-height: 1.5em;
}

@media (min-width: 375px) {
  p{
    line-height: 1.5em;
  }

  h5{
    font-size: 1.2em;
  }

  .grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .info-div{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 40px;
  }

  .info-h6{
    font-size: 17px;
    margin: 30px auto 10px;
  }

  .info-p{
    font-size: 15px;
  }

  .subscription-div{
    border-radius: 0 0 0 8px;
    padding: 40px;
  }

  .cost-p-day{
    margin-top: 10px;
    color: hsl(204, 43%, 93%);
    font-size: 15px;
  }

  .benefits-div{
    border-radius: 0 0 8px 0;
    padding: 40px;
  }

  .signup{
    width: 95%;
    margin: 30px auto 0;
  }

}

@media (min-width: 375px){
  .grid-container{
    margin: 20% 10%;
  }
}

@media (min-width: 700px){
  .grid-container{
    margin: 10% 29%;
  }
}
